# Dataset
images/
labels.csv

# Model weights
*.h5
*.keras

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.eggs/

# Environment
.env
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.code-workspace

# OS
Thumbs.db
.DS_Store
